
body {
    background-color:antiquewhite
}

.underline {
    display: flex;
    gap: 80px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.slices {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.underline p {
    width: 1000px;
}

.underline h2 {
    text-align: center;
}

.underline h1 {
    font-size: 40px;
    text-align: center;
}

.title {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

img {
    align-self: center;
    margin-top: 40px;
}

