* {
    font-size: 10px;
    font-family: 'Poppins';
}

@media only screen and (max-width: 768px) {
    .transaction {
        width: 88vw;
    }
}

@media only screen and (min-width: 769px) {
    .transaction {
        width: 20vw;
    }
}

.transaction {
    background-color: #fff;
    color: #000;
    display: flex;
    flex-direction: column;
    gap: 1.9rem;
    padding: 2rem 2.5rem;
    border-radius: 0.5rem;
}

.transaction-div {
    display: flex;
    justify-content: space-between;
}

#transaction-h2 {
    font-size: 1.6rem;
    font-weight: 400;
}

#transaction-p {
    font-size: 3.6rem;
    font-weight: 700;
}