body {
  background-color: rgb(182, 61, 61);
  min-width: 100vh;
}

#calculator-container {
  display: flex;
  margin: 90px 0px 0px 510px;
}

#calculator-context {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

#operators-container {
  display: flex;
  gap: 20px;
}