@media (max-width: 900px) {
    #main-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 150vh;
    }
    #main-article {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        border-radius: 0px 0px 30px 30px;
        padding: 25px 30px;
        width: 290px;
        height: 550px;
        gap: 20px;
        
    }
    #footer-container {
        display: flex;
        justify-content: space-between;
        gap: 70px;
    }

    #secondary-article p {
        max-width: 400px;
    }

    #reference-container {
        width: 221.02px;
        height: 34px;
    }

}   