
.pokedex-title {
    font-family: "DM Sans", sans-serif;
    line-height: 63px;
    font-size: 48px;
}

.pokemon-image {
    width: 120px;
    height: 120px;
    object-fit: cover;
    border: 0
}

.header img {
    width: 50px; 
    height: 50px;
}


.header {
    display: flex;
    justify-content: center;
    align-items: center;
}

li {
    list-style-type: none;
}
  

.pokemon-types {
    display: flex;
    flex-direction: column;
    color: white;
    display: flex;
    text-align: center;
    padding: 0.2em 0.6em;
    min-width: 55px;
    gap: 10px;
    
}


.pokemon-nametype-container {
    display: flex;
    flex-direction: column;
    align-self: flex-start;
}
  

.pokemon-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: green;
    width: 325px;
    height: 165px;
    border-radius: 24px;
    padding: 24px;
    gap: 35px;
    
}

.pokemon-name {
    font-family: 'DM Sans', sans-serif;
    font-weight: 700;
    line-height: 32px;
    font-size: 24px;
    color: rgba(30, 41, 59, 1)
}
  

  

.pokemon-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 24px;
}


@media (max-width: 768px) {
    .pokemon-list {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
}
    
    .pokemon-container {
        width: 300px;
        flex: 0 0 300px;
}
  
    .pokedex-title {
      text-align: center;
}
  
    .search-bar {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 16px;
}
  
    .pokemon-image {
      width: 80px;
      height: 80px;
}
  
    .pokemon-name {
      font-size: 18px;
      text-align: center;
}
  
    .pokemon-types {
      font-size: 12px;
      text-align: center;
}

}